<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EnergyHelpline.QuotesTool.Calculator.QuoteRunnerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EnergyHelpline.QuotesTool.Calculator.QuoteRunnerSettings>
      <setting name="QuoteSignature" serializeAs="String">
        <value>EnergyHelpline Quote Team</value>
      </setting>
      <setting name="TemplateName" serializeAs="String">
        <value>NotificationTemplate.htm</value>
      </setting>
      <setting name="HtmlPayload" serializeAs="String">
        <value>"Please find below the cheapest quote our system has generated based on your usage. &lt;br /&gt; Date: {0} &lt;br /&gt; Gas Usage: {1} &lt;br /&gt; Electricity Usage: {2} &lt;br /&gt; Cheapest Tariff: {3} &lt;br /&gt; Annual Cost: £{4}"</value>
      </setting>
    </EnergyHelpline.QuotesTool.Calculator.QuoteRunnerSettings>
  </userSettings>
</configuration>