<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="EnergyHelpline.QuotesTool.Common.IInputService, EnergyHelpline.QuotesTool.Common"
              mapTo="EnergyHelpline.QuotesTool.InputOutputService.ConsoleInputService, EnergyHelpline.QuotesTool.InputOutputService">
    </register>

    <register type="EnergyHelpline.QuotesTool.Common.IOutputService, EnergyHelpline.QuotesTool.Common"
              mapTo="EnergyHelpline.QuotesTool.InputOutputService.ConsoleOutputService, EnergyHelpline.QuotesTool.InputOutputService">
    </register>

    <register type="EnergyHelpline.QuotesTool.Common.IQuotesCalculator, EnergyHelpline.QuotesTool.Common"
              mapTo="EnergyHelpline.QuotesTool.Calculator.GasQuoteCalculator, EnergyHelpline.QuotesTool.Calculator"
              name="gasQuoteCalc">
    </register>

    <register type="EnergyHelpline.QuotesTool.Common.IQuotesCalculator, EnergyHelpline.QuotesTool.Common"
              mapTo="EnergyHelpline.QuotesTool.Calculator.ElectricityQuoteCalculator, EnergyHelpline.QuotesTool.Calculator"
              name="electricityQuoteCalc">
    </register>
    
    <register type="EnergyHelpline.QuotesTool.Common.IQuotesRunner, EnergyHelpline.QuotesTool.Common"
              mapTo="EnergyHelpline.QuotesTool.Calculator.QuotesRunner, EnergyHelpline.QuotesTool.Calculator">
    </register>

    <register type="EnergyHelpline.QuotesTool.Common.INotificationService, EnergyHelpline.QuotesTool.Common"
              mapTo="EnergyHelpline.QuotesTool.NotificationService.EmailNotificationService, EnergyHelpline.QuotesTool.NotificationService">
    </register>
  </container>

</unity>